<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Secure Web Application</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>

    {{!-- Navigation links --}}
    <nav class="navbar p-4 navbar-expand-lg navbar-dark bg-dark">
        <h4 class="navbar-brand">OWASP Secure Web Application</h4>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- Body --}}
    <div class="container mt-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Register Form</div>
            <div class="card-body">
                <form action="/auth/register" method="POST">
                    <div class="mb-3">
                        <label for="name-reg" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name-reg" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email-reg" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email-reg" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password-reg" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-reg" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="password-conf-reg" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password-conf-reg" name="passwordConf" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    {{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
    {{#if success }}
    <h4 class="alert alert-success mt-4">{{success}}</h4>
    {{/if}}
    <br>
    <footer class="mx-auto" style="width: 400px;">
        Copyright @ Loka & Dou7 Inc. and Other Contributors.
    </footer>
    <br>
</body>

</html>