    
<title>Secure Web Application</title>
<body>
    <h1>Register</h1>
    <div>
        <form method="post" action="/Login.html">
            <div>
                <label for="">Username: </label>
                <input type="text" name="Username" placeholder="Enter your Username">
                <br>
    
                <label for="">Password: </label>
                <input type="password" name="Password" placeholder="Password">
                <br>

                <label for="">Email: </label>
                <input type="email" name="Email" placeholder="Email">
                <br>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
